{{#each bannerLinks as |link|}}
  <div class="header-dropdown-toggle">
    <a class="icon" href={{link.url}} tabindex="0">
      <h3 title={{link.icon}}>{{d-icon link.icon}}</h3>
    </a>
  </div>
{{/each}}
